* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h3, h4 {
  max-width: 900px;
}

.image-grid {
  max-width: 1200px;
}

html,
body {
  background-color: #fff;
  font-family: 'lato', 'Arial', 'sans-serif';
  font-size: 110%;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1
}

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

h1, h2, h3, h4 {
  word-spacing: 5px;
}

/* -----------HERO BACKGROUND------------------------ */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero1.jpg);
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
}

/* -----------NAV------------------------ */
li, a, button {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: 100%;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.04em;
}

.nav__links {
  list-style: none;
  float: right;
  padding: 10px;
  margin-left: 55%;
  margin-right: 6%;
  position: flex;
}

.nav__links li {
  display: inline-block;
  padding: 6% 18px;
}

.hbp a {
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
  transition: all 0.2s ease 0s;
}

.hbp a:hover {
  transition: all 0.3s ease 0s;
  color: #e06631;
  border-bottom: 2px solid #e06631;
}

.cta button {
  padding: 9px 25px;
  background-color: #e06631;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease 0s;
}

.cta button:hover {
  background-color: #b54f23;
}

.nav-icon button {
  margin: 2.7% 91%;
}

.nav-icon button,
ion-icon {
  position: absolute: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  font-size: 150%;
  padding: 0%;
}

a {
  color: inherit;
}
/* -----------Sticky NAV------------------------ */


.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #252525;
  background-color: #ffffff;
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}
.sticky li,
.sticky .cta button{
  color: #252525;
}
.sticky .nav__links {
  padding: 0px;
  margin-left: 55%;
  margin-right: 6%;
}
.sticky .nav__links li {
  padding: 3% 18px;
}




/* -----------FRONT PAGE------------------------ */
.main__intro {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: -8% 10%;
  text-align: center;
}

.main__title {
  font-size: 150%;
  font-weight: 200;
  color: #fff;
}

h1 {
  font-size: 220%;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.10em;
  margin-top: 40%;
}

/* -----------ABOUT ME PAGE------------------------ */
.about-me {
  color: #373737;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e06631;
  content: "";
  width: 100px;
  margin: auto;
  margin-top: 20px;
}

h2 {
  text-align: center;
  padding: 4% 0px 4% 0px;
  font-size: 220%;
  font-weight: 300;
  letter-spacing: 3px;
}

.simon-about {
  width: 30%;
  height: auto;
  border-radius: 400px;
  margin: 0px 0 0 3%;
  object-fit: contain
}

.about-content {
  display: flex;
  object-fit: contain;
  align-self: flex-start;
}

.about-writing p {
  font-size: 110%;
  font-weight: 300;
  justify-content: center;
  padding-right: 50px;
  margin: 0% 0% 0% 5%;
  line-height: 30px;
}

/* -----------PROJECTS SECTION------------------------ */
.project-h2 {
  padding-top: 3%;
  margin-bottom: 1%;
}

.projects-content {
  background-color: #f4f4f4;
  margin: 4% 0px 0% 0px;
}

.image-grid {
display: flex;
width: 92%;
flex-wrap: wrap;
margin: 0 auto;
position: relative;

}

.grid-image img {
  position: relative;
  display: block;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;

}


.title-projects {
  color: #1b1b1b;
  position: relative;
}

.gallery {
  display: none;
}
.image {
  width: 320px;
  height: 240px;
}
/* -----------PROJECT DESCRIPTION------------------------ */

.project-grid {
  display: grid;
grid-template-columns: auto auto auto auto;
justify-content: center;
padding-bottom: 50px;

}
.grid-text {
  height: 240px;
  width: 320px;
  position: absolute;
  margin-left: 2.5%;
text-align:center;
}

  .nutt-text {
    position: absolute;

    width: 320px;
    height: 240px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.6s;
    vertical-align: middle;
    line-height: 30px;
    z-index: 999;
    cursor: pointer;
    padding-left: 8px;

  }
  .nutt-text h5 {
    color: white;
    display: inline-table;
    vertical-align: middle;
    line-height: 100%;
    padding-bottom: 40px;
    padding-top: 15px;
  }
  .nutt-text p {
    color: white;
    vertical-align: baseline;
    line-height:20px;
  }
.nutts,
.image-grid {
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
}
  .nutt-text:hover {
    opacity: 1;
  }
  /* -----------PROJECT DESSCRIPTION PHONE------------------------ */

.nutt-gallery-text {
  position: absolute;

  width: 320px;
  height: 240px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.6s;
  vertical-align: middle;
  line-height: 30px;
  z-index: 999;
  cursor: pointer;
  padding-left: 8px;
}
.nutt-gallery-text h5 {
  color: white;
  display: inline-table;
  vertical-align: middle;
  line-height: 100%;
  padding-bottom: 15px;
  padding-top: 10px;
}
.nutt-gallery-text p {
  color: white;
}
.nutt-gallery-text:hover {
opacity: 1;
}
/* -----------FLICKITY STYLNG------------------------ */
.gallery-cell,
.nutt-gallery-text {

}
/* -----------CONTACT SECTION------------------------ */
footer {
  background-color: #2e2e2e;
  color: #dbdbdb;
}

footer h2 {
  margin-bottom: 0%;
  padding: 1%;
}

.contact-note {
  text-align: center;
  font-weight: 300;
  font-size: 100%;
}

.socials {
  display: flex;
  flex-direction: ;
  margin: 3% 0 0 0;
  justify-content: center;
}

.logo {
  margin: 2% 3% 10% 0%;
}

.instagram:hover {
  color: #c32aa3;
}

.linkedin:hover {
  color: #007bb5;
}

.youtube:hover {
  color: #ff0000;
}

.email:hover {
  color: #0072C6;
}

.oliver {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.oliver p {
  margin-bottom: 5px;
}
.oliver a {
  transition: color 0.3s ease 0s;

}
.oliver a:hover {
  color: #ff0000;

}
/* -----------ANIMATIONS------------------------ */

.js--wp-1 {
  opacity: 0;
}
.js--wp-1 .animated {
  opacity: 1;
}
.js--project-1 {
  opacity: 0;

}
.js--project-1 .animated {
  opacity: 1;

}
.js--project-2 {
  opacity: 0;

}
.js--project-2 .animated {
  opacity: 1;

}
.js--project-3 {
  opacity: 0;

}
.js--project-3 .animated {
  opacity: 1;

}
.js--project-4 {
  opacity: 0;

}
.js--project-4 .animated {
  opacity: 1;

}
.js--project-5 {
  opacity: 0;

}
.js--project-5 .animated {
  opacity: 1;

}
.js--project-6 {
  opacity: 0;

}
.js--project-6 .animated {
  opacity: 1;

}
